<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Apps</title>
  <%= stylesheet_link_tag 'mane1.css' %>
  <%= stylesheet_link_tag 'mane2.css' %>
</head>
<body class="body">
  <h1 class="heading">Let&#x27;s Learn Rails</h1>
  <div class="w-layout-grid grid-2">
  <%= link_to "Home", root_path , id:"node1b" , class: "button w-button" %>
  <%= link_to "Contact Us", contacts_path , id: "node1c" , class: "button w-button" %>

  </div>
  <div class="w-row" style = "margin: 50px">
    <div class="basic-column w-col w-col-4 w-col-stack">
      <div class="tag-wrapper">
        <div class="product-card">
          <div class="product-card-image product-card-1"></div>
          <div class="product-card-description">
            <div>
              <div class="tagline tagline-promo-40">App1</div>
              <h3 class="product-name-title">App1 description<span class="text-span"></span></h3>
            </div>
            <div class="price-wrapper"></div>
            <a href="#" class="button-2 w-button">Select</a>
          </div>
        </div>
      </div>
    </div>
    <div class="basic-column w-col w-col-4 w-col-stack">
      <div class="tag-wrapper">
        <div class="product-card">
          <div class="product-card-image product-card-2"></div>
          <div class="product-card-description">
            <div>
              <div class="tagline tagline-promo-40">App 2</div>
              <h3 class="product-name-title">App 2 description</h3>
            </div>
            <div class="price-wrapper"></div>
<a href="#" class="button-2 w-button">Select</a>
          </div>
        </div>
      </div>
    </div>
    <div class="basic-column w-col w-col-4 w-col-stack">
      <div class="tag-wrapper">
        <div class="product-card">
          <div class="product-card-image product-card-3"></div>
          <div class="product-card-description">
            <div>
              <div class="tagline tagline-promo-40">App 3</div>
              <h3 class="product-name-title">App 3 description</h3>
            </div>
            <div class="price-wrapper"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>