<!DOCTYPE html>
<head>

  <meta charset="utf-8">
  <title>Contact Us</title>
 
</head>
<body>
  <h1>Let&#x27;s Learn Rails</h1>
  <div >
  <%= link_to "Home", root_path %>
  <%= link_to "Apps", apps_path %>
  </div>
  <h2>Contact Us</h2>
  <div></div>
  <div>
    <div>
      <p>Our Contact feature will be posted shortly.</p>
    </div>
  
  </div>
</body>
</html>