<h1> ERB practice page</h1>

<% @array.each do |element| %>
    <h3><%= element.capitalize %></h3>
    <% end %>
    <br>
    <br><br>
    <%6.times do -%> 
       <h4><%= "liftoff!" %></h4>
    <% end -%>